.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f3f3f3;
}

.dropdown-card {
  background: #fff;
  width: 370px;
   height: 326px;
  border-radius: 6px;
  border:1px;
  box-shadow: 0px 8px 15px 0px rgba(20, 20, 20, 0.12);
box-shadow: 0px 0px 4px 0px rgba(20, 20, 20, 0.1);
  padding: 16px;
  font-family: "Inter", sans-serif;
}

.checkbox-row {
  display: flex;
  align-items: center;
   width: 370px;
   height: 42px;
  justify-content: space-between;
  color: #1F2128;
  font-size: 14px;
  font-weight: 400;
  font-style: "Montserrat";
}

.checkbox-row input[type="checkbox"] {
  width: 23px;
  height: 23px;
  accent-color: #2469F6;
  cursor: pointer;
  border-radius: 6px;
}

hr {
  border: none;
  border-top: 1px solid #eee;
   padding: 10px 15px 10px 15px;
}
.button{
  width: 370px;
  height: 60px;
}
.done-btn {
  width: 100%;
  height: 40px;
  background: #FFCE22;
  border: none;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  color: #1F2128;
  transition: background 0.2s ease;
  align-content: center;
  
}

.done-btn:hover {
  background: #ffca00;
}
